@layout LoginLayout
@page "/"
@using Model
@using Interfaces
@inject IUsuariosService UsuariosService
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<EditForm Model="@usu">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" @bind="usu.Usuario" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" @bind="usu.Password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block" @onclick="Ingresar">
                    Ingresar
                </button>
                <a href="/Recuperar" class="link-primary">Olvido su contraseña</a>
                <label style="color:red;">@mensaje</label>
                <br />
                <label style="color:red;">@msg</label>
            </div>
        </div>
    </div>
</EditForm>
@code {
    Usuarios usu = new Usuarios();
    string mensaje = "";
    string intentos = "";
    string msg = "";
    string pass = "";
    int contador = 1;
    int inc = 0;
    int inte = 3;
    protected async Task Ingresar()
    {
        usu.Password = CN_Encriptacion.Encriptar(usu.Password);
        var result= await UsuariosService.GetUsuarios(usu.Usuario,usu.Password);

        if (result!=null)
        {
            await sessionStorage.SetItemAsync("Usuario",usu.Usuario);
            NavigationManager.NavigateTo("/Inicio");
        }
        else
        {
            mensaje = "Usuario o contraseña incorrectos!!";
            await sessionStorage.SetItemAsync("con", contador+inc);
            intentos = await sessionStorage.GetItemAsync<string>("con");
            inc= await sessionStorage.GetItemAsync<int>("con");
            await sessionStorage.SetItemAsync("conantiguo", intentos);
            inte = 3 - inc;
            msg = "Te quedan " + inte.ToString()+" intentos";
            if (Convert.ToInt32(intentos) == 3)
            {
                msg = "";
                mensaje = "";
                intentos = "";
                inc = 0;
                contador = 1;
                await sessionStorage.SetItemAsync("con", "");
                await sessionStorage.SetItemAsync("conantiguo", "");
                NavigationManager.NavigateTo("/Recuperar");
            }

        }
    }

}
