@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="" @onclick="Salir">Salir</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code {
    protected async Task Salir()
    {
        await sessionStorage.SetItemAsync("Usuario", "");
        NavigationManager.NavigateTo("/");
    }
}

